/* authentication */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav__item:not(:last-child) {
  margin-right: $indent;
}
.auth-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $color-text;
  // text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}