/* authentication */
.auth-nav {
  display: none;
  margin-left: auto;

  // tablet
  @media screen and (min-width: $tablet) {
    display: block;
  }

  // desktop
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.auth-nav__item:not(:last-child) {

  // tablet
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  
  // desktop
  @media screen and (min-width: $desktop) {
    margin-right: $indent; 
  }
}

.auth-nav__link {
  display: flex;
  color: $color-text;
  // text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }

  // desktop
  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}