/* clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-color-text;
}
.clients__list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.clients__item {
  width: 170px;
  height: 92px;
  &:not(:last-child) {
    margin-right: $indent;
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-social-media;
  border: 1px solid $color-social-media;
  border-radius: 4px;
  @include transition(color, background-color);
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}
.clients__icon {
  fill: currentColor;
}