/* features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.features__item {
  @include widthItem(4);
  // width: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: $indent;
  }
}
.features__img {
  /* display: flex; */
  padding: 25px 100px;
  margin-bottom: 30px;
  height: 120px;
  background-color: $second-bg-color;
  border-radius: 4px;
  /* justify-content: center;
  align-items: center; */
}
.features__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $second-color-text;
}