.subscr {
  display: block;
  margin-left: auto;
  padding-top: 12px;
  /* align-items: center; */
  width: 570px;
}
.subscr__text {
  margin-bottom: 20px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}
.subscr__input {
  display: flex;
}
.subscr__mail {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: $third-bg-color;
  color: $secondary-white-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  &::placeholder {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: $secondary-white-color;
  }
}
.subscr__btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.subscr__icon {
  margin-left: 10px;
  fill: $primary-white-color;
}