/* footer logo */
.footer__logo {
  // display: inline-block;
  margin-bottom: 28px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;

  // tablet
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto; 
    }
  }

.logo__studio--white {
  color: $primary-white-color;
}