/* header logo */
.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  // tablet
  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }

  // desktop
  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo__web {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $accent-color;

  // desktop
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__studio {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $third-color-text;

  // desktop
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}