/* list of projects */
.portfolio__list {
  
  // tablet, desktop
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio__item {
    display: flex;
    flex-direction: column;
    margin-bottom: $indent;
    outline: 1px solid yellowgreen;

  // mobile, tablet
  @media screen and (max-width: 1199px) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // tablet
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    @include widthItem(2);
    margin-right: $indent;
      &:nth-child(2n) {
        margin-right: 0;
    }
  }

  // desktop
  @media screen and (min-width: $desktop) {
    @include widthItem(3);
      margin-right: $indent;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}
.portfolio__link {
  text-decoration: none;
  // display: block;
  flex-grow: 1;
  @include transition(box-shadow);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio__img {
  display: block;
}
.portfolio__hidden-dscr {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 63px 24px; */
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  transform: translateY(101%);
  @include transition(transform);
}
.portfolio__link:hover .portfolio__hidden-dscr {
  transform: translateY(0);
}
.portfolio__dscr {
  
  padding: 20px 24px 20px 24px;
  border-left: 1px solid $border-second-color;
  border-right: 1px solid $border-second-color;
  border-bottom: 1px solid $border-second-color;
}
.portfolio__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $second-color-text;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $color-text;
}