/* button on portfolio */
.portfolio__filtr {
  margin-bottom: 40px;
  display: flex;
  outline: 1px solid teal;

  // mobile
  @media screen and (max-width: 767px) {
    max-width: 327px;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 8px;
    row-gap: 15px;
  }
  
// tablet
@media screen and (min-width: $tablet) {
  margin-bottom: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
  // desktop
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.portfolio__button {
  padding: 6px 22px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $second-bg-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-color-text;
  cursor: pointer;
  @include transition(color, background-color, box-shadow);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// tablet, desktop
@media screen and (min-width: $tablet) {
  .filtr__item:not(:last-child) {
    margin-right: 8px;
  }
}
