html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  background-color: $primary-white-color;
  font-family: $primary-font;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $color-text;
}
body.modal-open {
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
